<?xml version="1.0" encoding="UTF-8"?><metadata>    <atlas>			<name>data/jeep.atlas</name>			</atlas>	<frame>			<s>car</s>		<x>2</x>		<y>116</y>	</frame>		<bg>		<name>xml/bg_construction.xml</name>	</bg>		<assets>		<detail id="1">			<x>0</x>			<y>260</y>			<s>green</s>		</detail>		<detail id="2">			<x>422</x>			<y>116</y>			<s>blue</s>		</detail>		<detail id="3">			<x>271</x>			<y>0</y>			<s>yellow</s>		</detail>		<detail id="4">			<x>219</x>			<y>351</y>						<s>orange</s>			<se>1</se>		</detail>		<detail id="5">			<x>45</x>			<y>132</y>			<s>orange</s>		</detail>		<detail id="6">			<x>228</x>			<y>57</y>			<s>orange</s>		</detail>		<detail id="7">			<x>550</x>			<y>261</y>			<s>orange</s>			<se>1</se>			<crop>4</crop>		</detail>	</assets>	</metadata>